<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\Orc.ProjectManagement\src\Orc.ProjectManagement\Orc.ProjectManagement.NET40\packages.config" />
  <repository path="..\src\Orc.FilterBuilder.Example\packages.config" />
  <repository path="..\src\Orc.FilterBuilder.Tests\Orc.FilterBuilder.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.FilterBuilder.Tests\Orc.FilterBuilder.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.FilterBuilder\Orc.FilterBuilder.NET40\packages.config" />
  <repository path="..\src\Orc.FilterBuilder\Orc.FilterBuilder.NET45\packages.config" />
</repositories>