<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.FilterBuilder.AlternativeExample\packages.config" />
  <repository path="..\src\Orc.FilterBuilder.Example\packages.config" />
  <repository path="..\src\Orc.FilterBuilder.Tests\packages.config" />
  <repository path="..\src\Orc.FilterBuilder\packages.config" />
</repositories>