name: Build and test

on:
  push:
    branches:
      - develop
      - master
  pull_request:
  
#permissions:
  #pull-requests: write
  #contents: write

jobs:
  build-and-test:
    runs-on: windows-latest # Required for some (WPF) projects
  
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        id: checkout
        with:
          fetch-depth: 0
          
      - name: Setup .NET Core
        id: setup-dotnet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: '10.0.x'    
    
      - name: Cake Action
        id: cake-action
        uses: cake-build/cake-action@d218f1133bb74a1df0b08c89cfd8fc100c09e1a0 #v3.0.1
        with:
          target: BuildAndTest
          arguments: |
            IsCiBuild: true